export(add.stpoints, devresid, gridresid, make.grid, plot.devresid, plot.gridresid, plot.supresid, plot.stpp, plot.superthin, plot.tessdev, plot.tessresid, plot.thinresid, print.devresid, print.gridresid, print.supresid, print.stpp, print.superthin, print.tessdev, print.tessresid, print.thinresid, print.stgrid, print.stwin, stpp, stwin, summary.superthin, summary.supresid, summary.thinresid, superthin, supresid, tessdev, tessresid, thinresid)
